<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaiWan_iPad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BaiWan_iPad_91.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BaiWan_iPhone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BaiWan_iPhone_MOBISAGE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10E5FA2E15045EC8000207CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EBCDC08142ABAF2009F2635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671010B11526F68A00B30CE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6733E0B214EE34DF00A06C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>674EB2C615231D0100605942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67B163541521D0BC001C236F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67B1BC6B14EBA19E00C1E693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67BBBD6215A421350043C78C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9699B7DA156B2FD7000DD047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B0C274139F503C006683CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
