<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaiWan_iPad JYYLC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BaiWan_iPad SYCQ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BaiWan_iPad for 91.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BaiWan_iPad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BaiWan_iPhone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10E5FA2E15045EC8000207CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EBCDC08142ABAF2009F2635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6733E0B214EE34DF00A06C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67B1BC6B14EBA19E00C1E693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B0C274139F503C006683CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
