<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAV_TITLE_REGISTER_PROTOCOL</key>
	<string>注册协议</string>
	<key>CLOSE</key>
	<string>关闭</string>
	<key>REGISTER</key>
	<string>注册</string>
	<key>LOGIN</key>
	<string>登录</string>
	<key>TRY_LOGIN</key>
	<string>登录中...</string>
	<key>NAV_TITLE_REG_PHONE</key>
	<string>手机注册</string>
	<key>NAV_TITLE_REG_91</key>
	<string>快速注册</string>
	<key>NAV_TITLE_LOGIN</key>
	<string>登录</string>
	<key>NAV_TITLE_CHECK_BUY_LIST</key>
	<string>确认购买</string>
	<key>NAV_TITLE_BALANCE_NOT_ENOUGH</key>
	<string>余额不足</string>
	<key>NAV_TITLE_PAY_RECORD</key>
	<string>充值、消费记录</string>
	<key>NAV_TITLE_PAY_DETAIL</key>
	<string>消费记录</string>
	<key>NAV_TITLE_RECHARGE_DETAIL</key>
	<string>充值记录</string>
	<key>NAV_TITLE_PERSONAL_CENTER</key>
	<string>个人中心</string>
	<key>NAV_TITLE_MODIFY_NICK_NAME</key>
	<string>修改昵称</string>
	<key>NAV_TITLE_MODIFY_LOGIN_PASSWORD</key>
	<string>修改登录密码</string>
	<key>NAV_TITLE_RECHARGE_HELP</key>
	<string>充值帮助中心</string>
	<key>NAV_TITLE_RECHARGE</key>
	<string>91豆充值</string>
	<key>NAV_TITLE_PHONE_RECHARGE</key>
	<string>短信充值</string>
	<key>REGVIEW_INPUT_ACCOUNT</key>
	<string>请输入您的账号</string>
	<key>REGVIEW_INPUT_PASSWORD</key>
	<string>请输入您的登录密码</string>
	<key>REGVIEW_INPUT_NICKNAME</key>
	<string>请输入您的昵称</string>
	<key>91DOU_RECHARGE</key>
	<string>91豆充值</string>
	<key>PERSONAL_CENTER_RECORD_CELL_NAME</key>
	<string>充值、消费记录</string>
	<key>MODIFY_NICK_NAME</key>
	<string>修改昵称</string>
	<key>MODIFY_LOGIN_PASSWORD</key>
	<string>修改登录密码</string>
	<key>REGVIEW_NAME_ERROR_HEAD</key>
	<string>用户名格式错误</string>
	<key>ACCOUNT_SHOULD_NOT_EMPTY</key>
	<string>用户名不能为空</string>
	<key>ACCOUNT_FORMAT_ERROR</key>
	<string>用户名格式错误</string>
	<key>PASSWORD_SHOULD_NOT_EMPTY</key>
	<string>密码不能为空</string>
	<key>PASSWORD_FORMAT_ERROR</key>
	<string>密码格式错误</string>
	<key>INVALID_ACCOUNT_FORMAT</key>
	<string>应为4－70个字符，限小写字母、数字、邮箱账号</string>
	<key>INVALID_PASSWORD_FORMAT</key>
	<string>应为7－12个字符，限字母、数字，区分大小写</string>
	<key>NICKNAME_FORMAT_ERROR</key>
	<string>昵称格式错误</string>
	<key>INVALID_NICKNAME_FORMAT</key>
	<string>应为10个字符以内，支持中文</string>
	<key>REGISTER_TOO_MUCH_ACCOUNT</key>
	<string>您已注册了%d个账号，不能再注册</string>
	<key>REGISTER_ACCOUNT_EXIST</key>
	<string>该账号已存在</string>
	<key>PARAM_ERROR</key>
	<string>参数错误</string>
	<key>REGISTER_FAIL</key>
	<string>注册失败</string>
	<key>SURE</key>
	<string>确定</string>
	<key>CANCEL</key>
	<string>取消</string>
	<key>REGVIEW_PASSWD_EMPTY_HEAD</key>
	<string>密码不能为空</string>
	<key>REGVIEW_PASSWD_ERROR_HEAD</key>
	<string>密码格式错误</string>
	<key>REGVIEW_NICKNAME_ERROR_HEAD</key>
	<string>昵称格式错误</string>
	<key>REGVIEW_NICKNAME_ERROR_TEXT</key>
	<string>昵称输入不合法，限制1-10个字符</string>
	<key>TRUENAME_FORMAT_ERROR</key>
	<string>真实姓名格式不正确</string>
	<key>INVALID_TRUENAME_FORMAT</key>
	<string>真实姓名应为24个字符以内</string>
	<key>REGVIEW_AGREE_PROTOCOL_HEAD</key>
	<string>注册必须同意注册协议</string>
	<key>REGVIEW_FAIL</key>
	<string>注册失败</string>
	<key>CHECK_VIRTUAL_BALANCE_ERROR</key>
	<string>查询虚拟货币余额失败</string>
	<key>CHECK_BUY_BUY_FAIL</key>
	<string>购买失败</string>
	<key>CHECK_BUY_PASSWORD_NOT_VERIFY</key>
	<string>支付密码未验证</string>
	<key>NET_WORK_ERROR</key>
	<string>网络发生错误，无法连接到服务器，请检查您的网路连接</string>
	<key>CAN_NOT_CONNECT_SERVER</key>
	<string>无法连接服务器</string>
	<key>MODIFY_NICK_NAME_SUCCESS</key>
	<string>修改昵称成功</string>
	<key>MODIFY_NICK_NAME_FAIL</key>
	<string>修改昵称失败</string>
	<key>MODIFY_LOGIN_PASSWORD_FAIL</key>
	<string>修改登录密码失败</string>
	<key>MODIFY_LOGIN_PASSWORD_SUCCESS</key>
	<string>修改登录密码成功</string>
	<key>NEW_PASSWORD_WRONG</key>
	<string>新密码格式错误</string>
	<key>MODIFY_PASSWORD_FAIL</key>
	<string>修改密码失败</string>
	<key>SERVICE_PHONE_HINT</key>
	<string>客服电话: </string>
	<key>AUTO_LOGIN</key>
	<string>自动登录</string>
	<key>Loading</key>
	<string>载入中...</string>
	<key>SERVER_ERROR</key>
	<string>服务器返回错误</string>
	<key>OLD_PASSWORD_ERROR</key>
	<string>旧密码错误</string>
	<key>OLD_PASSWORD_INVALID</key>
	<string>旧密码格式错误</string>
	<key>RECHARGE_HELP_FAIL</key>
	<string>获取充值帮助失败</string>
	<key>NO_SIM</key>
	<string>没有SIM卡</string>
	<key>CONECT_SERVER_FAIL</key>
	<string>连接服务器失败</string>
	<key>RECHARGE_UNIT</key>
	<string>个91豆</string>
	<key>LOGIN_FAIL</key>
	<string>登录失败</string>
	<key>LOGIN_ACCOUNT_OR_PASSWORD_ERROR</key>
	<string>用户名或者密码错误</string>
	<key>RECHAREGE_SMS_PHONE_INVALID</key>
	<string>错误的手机号</string>
	<key>CHECK_PHONE_NUM_FAIL</key>
	<string>手机号码验证失败</string>
	<key>CHECK_PHONE_VERIFY_HINT</key>
	<string>请确认您输入的是您的本机号码，确认短信将发送到您的手机上</string>
	<key>RECHARGE_SMS_VALID_PHONE_HINT</key>
	<string>请输入正确的11位的手机号码</string>
	<key>CHECKING_PHONE_NUM</key>
	<string>正在验证您的手机号码</string>
	<key>BIND_PHONE_NUM_FAIL</key>
	<string>绑定手机号码失败 </string>
	<key>BINDING_PHONE_NUM</key>
	<string>正在绑定您的手机号码</string>
	<key>SESSION_ID_INVALID</key>
	<string>会话信息已过期 </string>
	<key>NEED_REGLOGIN</key>
	<string>请重新登录</string>
	<key>LOGINVIEW_NAME_ERROR_HEAD</key>
	<string>用户名格式错误(4-70个字符)</string>
	<key>SMS_RECHARGE_MONEY_HINT</key>
	<string>短信支付%@元，不含通信费</string>
	<key>SMS_RECHARGE_SEND_SMS_HINT</key>
	<string>即将发送信息%@到%@</string>
	<key>CARD_RECHARGE_CHECK</key>
	<string>请您核对面值是否与充值卡一致，如果不一致，充值将会失败，同时充值卡也会失效</string>
	<key>账号管理</key>
	<string>通行证管理</string>
	<key>账号管理提示</key>
	<string>管理我的登录账号及密码等</string>
	<key>个人信息管理提示</key>
	<string>管理昵称等基本资料</string>
	<key>权限设置提示</key>
	<string>可设置好友添加等权限</string>
	<key>91豆充值提示</key>
	<string>充值91豆到个人账户</string>
	<key>充值、消费记录提示</key>
	<string>可查看所有充值、消费记录</string>
	<key>TITLE_PERSONAL</key>
	<string>个人</string>
	<key>TITLE_FRIEND_MSG</key>
	<string>好友消息</string>
	<key>TITLE_SYS_MSG</key>
	<string>系统消息</string>
	<key>TITLE_FRIEND_UPDATING</key>
	<string>好友动态</string>
	<key>TITLE_SEARCH_FRIEND</key>
	<string>查找好友</string>
	<key>TITLE_VISIT_FRIEND</key>
	<string>查看好友</string>
	<key>TITLE_VISIT_USER_INFO</key>
	<string>查看用户信息</string>
	<key>NAV_RETURN</key>
	<string>返回</string>
	<key>NAV_SETTING</key>
	<string>设置</string>
	<key>FORMAT_SYS_MSG</key>
	<string>标题：%@\n时间：%@\n来自：%@\n</string>
	<key>FORMAT_SEARCH_RESULT</key>
	<string>共搜索出%d个记录</string>
	<key>FORMAT_NICKNAME</key>
	<string>昵称：%@</string>
	<key>FORMAT_MOOD</key>
	<string>心情：%@</string>
	<key>FORMAT_USER_INFO</key>
	<string>%@还不是你的好友，想了解Ta更多吗？加Ta为好友吧！</string>
	<key>INSTALL_CHECK</key>
	<string>%@已下载完毕，是否立即安装?</string>
	<key>DOWNLOAD_APP_HINT</key>
	<string>准备开始安装%@
软件版本V%@,文件大小%@
</string>
	<key>NON_WIFI_DOWNLOAD_HINT</key>
	<string>建议您使用91手机助手升级节省手机流量</string>
	<key>AGREE_FRIEND_ADD</key>
	<string>您已同意添加%@为好友</string>
	<key>DISAGREE_FRIEND_ADD</key>
	<string>您已拒绝了%@的好友请求</string>
	<key>RECHARGE_HINT</key>
	<string> </string>
	<key>YOU_NO_EMOTION_TIP</key>
	<string>点击编辑您的心情</string>
	<key>NO_ACTIVE_MSG</key>
	<string>您现在还没有好友动态，您可以：</string>
	<key>NO_MY_MSG</key>
	<string>您现在还没有好友消息!</string>
	<key>NO_SYS_MSG</key>
	<string>您现在还没有系统消息!</string>
	<key>NO_FRIEND_TIP</key>
	<string>您现在还没有好友，您可以通过：看看谁在玩，查找好友 来添加好友！</string>
	<key>NO_FRIEND_SEARCH_RESULT_TIP</key>
	<string>对不起，没有找到相关的人名或内容！</string>
	<key>NO_FRIEND_PLAYING_TIP</key>
	<string>暂时没有人在玩！</string>
	<key>NO_FRIEND_STRANGER_TIP</key>
	<string>暂时没有可能认识的人！</string>
	<key>NO_USER_FOUND_TIP</key>
	<string>对不起，没有找到相关的人名或内容！ </string>
	<key>NO_USER_FOUND_TIP_LINE2</key>
	<string>您还可以</string>
	<key>NO_USER_FOUND_TIP_LINE2_BTN</key>
	<string>重新查找好友</string>
	<key>NO_TA_MSG_TIP</key>
	<string>Ta现在还没有动态消息</string>
	<key>NO_TA_FRIEND_TIP</key>
	<string>Ta现在还没有好友</string>
	<key>NO_TA_APP_TIP</key>
	<string>Ta现在还没有相关的应用</string>
	<key>PERMISSION_NOT_ENOUGH</key>
	<string>他(她)已不是您的好友，禁止当前操作</string>
	<key>FRIENDS_ADDED_SUCCESS_TIP</key>
	<string>成功添加%d个好友</string>
	<key>FRIENDS_ADDED_VERIFY_TIP</key>
	<string>，其余%d个等待对方验证。</string>
	<key>PHONE_BINDING_SUCCESS</key>
	<string>恭喜您！成功绑定手机号</string>
	<key>PHONE_BINDING_FAILURE</key>
	<string>很抱歉！绑定手机号失败</string>
	<key>PHONE_BINDING_FAILURE_TIP</key>
	<string>由于网络或服务器原因，绑定手机号失败，请确定您输入的手机号码是否正确，请重新绑定手机号！</string>
	<key>PHONE_BINDING_INPUT_TIP</key>
	<string>请输入您的手机号</string>
	<key>VERSION_UPDATE_TITLE</key>
	<string>升级提示</string>
	<key>VERSION_UPDATE_REQUIRED_MSG</key>
	<string>发现新版本 V%@ / %@。当前版本过低，为保证软件正常运行，请立即更新！</string>
	<key>VERSION_UPDATE_MSG</key>
	<string>发现新版本 V%@ / %@</string>
	<key>VERSION_UPDATE_INSTALL_TITLE</key>
	<string>%@已下载完成，是否立即安装？</string>
	<key>SERVER_PHONE_TEXT</key>
	<string>测试支付与充值客服电话:%@</string>
	<key>LOGIN_ACCOUNT_ERROR_LIMIT</key>
	<string>您手机卡登录的账号个数已达上限</string>
	<key>REGISTER_ACCOUNT_ERROR_LIMIT</key>
	<string>您手机卡注册的账号个数已达上限</string>
	<key>UPLOAD_PHOTO_ERROR_SIZE_LIMIT</key>
	<string>上传的图片数据超过了服务器允许的大小</string>
	<key>NOT_YET_LOGIN</key>
	<string>请先登录</string>
	<key>CANNOT_SMS_PAY_HINT</key>
	<string>您当前的手机号为%@开头，目前暂不支持使用短信进行充值，请使用其他充值方式充值。</string>
	<key>DONE</key>
	<string>完成</string>
	<key>SKIP</key>
	<string>跳过</string>
	<key>REGISTER_SMS_HINT</key>
	<string>首次注册需要发送一条注册短信，由运营商收取正常短信通讯费,不含信息费。</string>
	<key>MORE</key>
	<string>更多</string>
	<key>SAVE</key>
	<string>保存</string>
	<key>ND_HOME</key>
	<string>首页</string>
	<key>ND_FRIEND</key>
	<string>好友</string>
	<key>ND_MY_FRIEND</key>
	<string>我的好友</string>
	<key>ND_MSG</key>
	<string>消息</string>
	<key>ND_GAME</key>
	<string>精品</string>
	<key>ND_MY_MSG</key>
	<string>  我的消息  </string>
	<key>ND_SYS_MSG</key>
	<string>  系统消息  </string>
	<key>RECORD_TITLE</key>
	<string>充值消费记录</string>
	<key>RECHARGE_RECORD</key>
	<string>充值记录</string>
	<key>CONSUME_RECORD</key>
	<string>消费记录</string>
	<key>MORE_PAGE_RECORD</key>
	<string>更多记录⋯⋯</string>
	<key>DATE_FORMAT_RECORDS</key>
	<string>%d 年  %02d月</string>
	<key>FM_RECHARGE_TITLE</key>
	<string>充值91豆 %@个</string>
	<key>FM_RECHARGE_TIP</key>
	<string>%@</string>
	<key>FM_CONSUME_TITLE</key>
	<string>消费91豆 %@个</string>
	<key>FM_CONSUME_TIP</key>
	<string>%@</string>
	<key>LOOKUP_RECORDS_DATE</key>
	<string>按月浏览</string>
	<key>EMPTY_RECORD_RECHARGE</key>
	<string>本月暂无充值记录</string>
	<key>EMPTY_RECORD_CONSUME</key>
	<string>暂无消费记录</string>
	<key>TIP_LOADING</key>
	<string>加载中⋯⋯</string>
	<key>SENDING_RECHARGE_SMS</key>
	<string>正在发送充值短信</string>
	<key>ND_SEARCH_USER</key>
	<string>查找用户</string>
	<key>ND_USER_DETAIL_STRANGER</key>
	<string>个人资料</string>
	<key>ND_USER_DETAIL_FRIEND</key>
	<string>好友资料</string>
	<key>ND_SEARCH_WITH_TYPE</key>
	<string>按分类查找用户</string>
	<key>ND_SEARCH_WITH_NICK</key>
	<string>按昵称查找用户</string>
	<key>ND_SEARCH_WITH_ACCOUNT</key>
	<string>按通行证查找用户</string>
	<key>ND_NEW_MSG</key>
	<string>新消息</string>
	<key>ND_SEND</key>
	<string>发送</string>
	<key>ND_SEND_MSG</key>
	<string>发送消息</string>
	<key>ND_SEND_MSG_TIP</key>
	<string>不要超过140个字哦～</string>
	<key>ND_EDIT_MOOD</key>
	<string>编辑心情</string>
	<key>ND_EDIT_MOOD_TIP</key>
	<string>不要超过30个字哦～</string>
	<key>ND_ADD_TOBE_FRIEND</key>
	<string>加为好友</string>
	<key>ND_ADD_TOBE_FRIEND_TIP</key>
	<string>请输入验证信息（不超过20字哦～）</string>
	<key>ND_ADD_TOBE_FRIEND_WAIT</key>
	<string>好友请求发送出去啦！\n等待对方验证吧！</string>
	<key>ND_FANGLE</key>
	<string>新鲜事</string>
	<key>ND_PICKER_FRIEND_PROMPT</key>
	<string>选取好友来发送消息</string>
	<key>NEXT</key>
	<string>下一步</string>
	<key>ND_DONE</key>
	<string>完成</string>
	<key>ND_TITLE_GAME_LIST</key>
	<string>%@的游戏</string>
	<key>ND_TITLE_FANGLE_LIST</key>
	<string>%@的新鲜事</string>
	<key>ND_TITLE_FRIEND_LIST</key>
	<string>%@的好友</string>
	<key>ND_ACHIEVEMENT</key>
	<string>成就榜</string>
	<key>ND_LEADERBOARD</key>
	<string>排行榜</string>
	<key>ND_ALL_LB</key>
	<string>全部</string>
	<key>ND_FRIEND_LB</key>
	<string>好友</string>
	<key>ND_SHARED</key>
	<string>分享</string>
	<key>ND_COMMIT</key>
	<string>提交</string>
	<key>BIND_91_ACCOUNT</key>
	<string>绑定91通行证</string>
	<key>REGISTER_91_ACCOUNT</key>
	<string>注册91通行证</string>
	<key>ND_SHARED_FAILED</key>
	<string>分享失败</string>
	<key>ND_SHARED_FAILED_REPEAT</key>
	<string>该内容已经分享成功 无须再提交！</string>
	<key>ND_SHARED_SUCCESSFUL</key>
	<string>分享成功啦！</string>
	<key>ND_INVITE</key>
	<string>邀请</string>
	<key>ND_HAS_INVITED</key>
	<string>已邀请</string>
	<key>ND_INVITE_FRIEND_TIP</key>
	<string>邀请好友成功</string>
	<key>ND_SEND_FAILED</key>
	<string>发送请求失败</string>
	<key>MORE_PAGE_MESSAGE</key>
	<string>更多记录⋯⋯</string>
	<key>ND_ACCOUNT</key>
	<string>账号</string>
	<key>ND_BIND</key>
	<string>绑定</string>
	<key>ND_91BIND3RD_SUCCESS_FORMAT</key>
	<string>您的91账号(%@)和%@账号成功绑定！</string>
	<key>ND_91BIND3RD_HASBINDED_FORMAT</key>
	<string>您的%@账号已绑定91账号(%@)！</string>
	<key>ND_91BIND3RD_FAILED</key>
	<string>绑定失败！</string>
	<key>ND_INVITE_FRIEND</key>
	<string>邀请好友</string>
	<key>ND_INVITE_FRIEND_91</key>
	<string>邀请91好友</string>
	<key>ND_SEARCH</key>
	<string>搜索</string>
	<key>3RD_HAS_BIND_91</key>
	<string>第三方账号已经绑定91账号</string>
	<key>91_HAS_BIND_3RD</key>
	<string>91账号已经绑定指定类型的第三方账号</string>
	<key>ACCOUNT_HAS_EXIST</key>
	<string>91通行证账号已经被注册</string>
	<key>BIND_ACCOUNT_PASSWORD_ERROR</key>
	<string>91通行证账号账号密码错误</string>
	<key>BIND_ACCOUNT_NOT_EXIST</key>
	<string>91通行证账号不存在或停用</string>
	<key>VERIFY_ACCOUNT_FAIL</key>
	<string>验证91通行证账号出错</string>
	<key>3RD_ACCOUNT_INFO_LOST</key>
	<string>第三方登陆信息丢失</string>
	<key>ND_FRIEND_ADD_LIMIT</key>
	<string>超过好友上限，需要删除好友</string>
	<key>ND_FRIEND_ALREADY</key>
	<string>对方已经是你的好友</string>
	<key>ND_INVITE_LOCAL_FORMAT</key>
	<string>我在玩%@，相当好玩，赶快来玩吧～</string>
	<key>ND_PAY_PSW_TIP</key>
	<string>请输入支付密码，未设置支付密码时输入91通行证登录密码</string>
	<key>ND_FB_TIP_CONTENT</key>
	<string>请输入您的意见，我们将不断改进</string>
	<key>ND_FB_TIP_USER_PHONE</key>
	<string>您的联系电话，以便给您回复</string>
	<key>ND_FB_TIP_SUCCESS</key>
	<string>非常感谢您的支持！我们会尽快给您回复，请注意查询91社区系统消息。</string>
	<key>TIP_3RD_PLFM_FAILED</key>
	<string>下载账号列表失败</string>
	<key>TIP_3RD_PLFM_NOT_SUPPORTED</key>
	<string>暂不支持其它账号登录</string>
	<key>INSTALL_FAIL</key>
	<string>安装失败</string>
	<key>USE_91_TO_INSTALL</key>
	<string>建议您使用91手机助手更新该应用</string>
	<key>IMPORTANT_HINT</key>
	<string>重要提示</string>
	<key>SWITCH_ACCOUNT_MESSAGE</key>
	<string>切换账号将退出当前程序，您需要重新启动程序才会生效</string>
</dict>
</plist>
