<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rowHeight</key>
	<string>44</string>
	<key>sectionHeaderHeight</key>
	<string>16</string>
	<key>sectionFooterHeight</key>
	<string>0</string>
	<key>commParam</key>
	<dict>
		<key>fonts</key>
		<dict>
			<key>textLabel</key>
			<string>17</string>
			<key>detailTextLabel</key>
			<string>17</string>
		</dict>
		<key>colors</key>
		<dict>
			<key>textLabel</key>
			<string>0,0,0,1</string>
			<key>detailTextLabel</key>
			<string>0,0,0,1</string>
		</dict>
	</dict>
	<key>sections</key>
	<array>
		<dict>
			<key>tip</key>
			<string>我的可用余额</string>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>widthOfTitle</key>
							<string>120</string>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>        </string>
						</dict>
						<key>strSel_customCell</key>
						<string>onCustomCell_note:</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tip</key>
			<string>游戏，物品，数量，价值</string>
			<key>footerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>label</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>content</key>
							<string>充值到账后请返回重新购买。</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,16,32</string>
							<key>rect</key>
							<string>{{10,0},{0,0}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
						</dict>
					</dict>
				</dict>
				<key>height</key>
				<string>50</string>
				<key>dependShow</key>
				<string>1</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>游戏：</string>
						</dict>
						<key>strSel_customCell</key>
						<string>onCustomCell:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>物品：</string>
						</dict>
						<key>strSel_customCell</key>
						<string>onCustomCell:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>数量：</string>
						</dict>
						<key>strSel_customCell</key>
						<string>onCustomCell:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>价值：</string>
						</dict>
						<key>strSel_customCell</key>
						<string>onCustomCell:</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tip</key>
			<string>直购，代付</string>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>label</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>content</key>
							<string>91豆充值到账后自动购买该商品。</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,16,32</string>
							<key>rect</key>
							<string>{{10,0},{0,0}}</string>
							<key>bottomRightMargin</key>
							<string>{0,0}</string>
						</dict>
					</dict>
				</dict>
				<key>height</key>
				<string>50</string>
				<key>dependShow</key>
				<string>1</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>让好友购买</string>
						</dict>
						<key>strSel_customCell</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>dependShow</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
