<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdCtrls</key>
	<dict>
		<key>list_bg</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>list_bg</string>
			<key>rect</key>
			<string>{{7,10},{306,395}}</string>
			<key>stretchPoint</key>
			<string>{26,30}</string>
			<key>index</key>
			<string>-10</string>
		</dict>
		<key>headPhoto</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>rect</key>
			<string>{{112,70},{100,100}}</string>
			<key>image</key>
			<string>head_big</string>
			<key>index</key>
			<string>5</string>
		</dict>
		<key>headBack</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>rect</key>
			<string>{{96,60},{127,127}}</string>
			<key>image</key>
			<string>head_bg_big</string>
		</dict>
		<key>line</key>
		<dict>
			<key>image</key>
			<string>line</string>
			<key>rect</key>
			<string>{{8,250},{304,2}}</string>
			<key>type</key>
			<string>imageView</string>
		</dict>
		<key>hintTop</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>rect</key>
			<string>{{12,6},{200,26}}</string>
			<key>content</key>
			<string>当前头像</string>
			<key>fontSize</key>
			<string>16</string>
		</dict>
		<key>hintBtm</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>rect</key>
			<string>{{12,225},{200,26}}</string>
			<key>content</key>
			<string>上传新头像</string>
			<key>fontSize</key>
			<string>16</string>
		</dict>
		<key>btnUpload</key>
		<dict>
			<key>bgImage</key>
			<string>button_bg</string>
			<key>type</key>
			<string>button</string>
			<key>title</key>
			<string>上传头像</string>
			<key>rect</key>
			<string>{{164,280},{136,36}}</string>
		</dict>
		<key>btnChoose</key>
		<dict>
			<key>bgImage</key>
			<string>button_bg</string>
			<key>type</key>
			<string>button</string>
			<key>title</key>
			<string>选择头像</string>
			<key>rect</key>
			<string>{{20,280},{136,36}}</string>
		</dict>
		<key>hintUpload</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>rect</key>
			<string>{{16,330},{300,40}}</string>
			<key>content</key>
			<string>如果您对上面预览头像满意，请点击“上传头像”按钮，进行更新头像</string>
			<key>fontSize</key>
			<string>14</string>
		</dict>
	</dict>
	<key>NdView</key>
	<dict>
		<key>bgColor</key>
		<string>0.922,0.922,0.922,1</string>
	</dict>
</dict>
</plist>
