<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rect</key>
	<string>{{0,44},{320,362}}</string>
	<key>sections</key>
	<array>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdView</key>
					<dict>
						<key>rect</key>
						<string>{{0,0},{320,15}}</string>
					</dict>
				</dict>
				<key>headerTitle</key>
				<string>NdView</string>
				<key>height</key>
				<string>15</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>nextController</key>
					<string>NdCPThirdPlatformBind91Ctr</string>
					<key>selForController</key>
					<string>useExist91Account:</string>
					<key>paramForController</key>
					<true/>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>已经注册过91社区</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>nextController</key>
					<string>NdCPThirdPlatformBind91Ctr</string>
					<key>selForController</key>
					<string>useExist91Account:</string>
					<key>paramForController</key>
					<false/>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>还未注册过91社区</string>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
