<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdCtrls</key>
	<dict>
		<key>topBottom</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>headbar_personal</string>
			<key>rect</key>
			<string>{{7,6},{306,54}}</string>
			<key>index</key>
			<string>-10</string>
		</dict>
		<key>listBg</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>contentbg_90</string>
			<key>rect</key>
			<string>{{7,70},{306,300}}</string>
			<key>index</key>
			<string>-10</string>
		</dict>
		<key>headBg</key>
		<dict>
			<key>bgImage</key>
			<string>head_bg</string>
			<key>type</key>
			<string>button</string>
			<key>rect</key>
			<string>{{10,10},{50,50}}</string>
		</dict>
		<key>headIcon</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>rect</key>
			<string>{{9,6},{36,36}}</string>
			<key>attachTo</key>
			<string>headBg</string>
		</dict>
		<key>name</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>rect</key>
			<string>{{70,10},{244,25}}</string>
			<key>fontSize</key>
			<string>18</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>editBtn</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>rect</key>
			<string>{{290,30},{30,30}}</string>
			<key>image</key>
			<string>pen</string>
		</dict>
		<key>personalSign</key>
		<dict>
			<key>type</key>
			<string>textField</string>
			<key>rect</key>
			<string>{{70,35},{220,25}}</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
			<key>fontSize</key>
			<string>16</string>
		</dict>
		<key>creditImage</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>rect</key>
			<string>{{240,14},{15,15}}</string>
			<key>image</key>
			<string>integral</string>
			<key>hidden</key>
			<string>1</string>
		</dict>
		<key>creditLabel</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>rect</key>
			<string>{{256,11},{58,20}}</string>
			<key>fontSize</key>
			<string>16</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
			<key>hidden</key>
			<string>1</string>
		</dict>
		<key>listTable</key>
		<dict>
			<key>type</key>
			<string>tableView</string>
			<key>rect</key>
			<string>{{8,76},{304,290}}</string>
		</dict>
		<key>backTouchBtn</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>rect</key>
			<string>{{0,0},{320,380}}</string>
			<key>index</key>
			<string>-9</string>
		</dict>
	</dict>
	<key>NdView</key>
	<dict>
		<key>bgColor</key>
		<string>0.922,0.922,0.922,1</string>
	</dict>
</dict>
</plist>
