<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rect</key>
	<string>{{0,32},{480,214}}</string>
	<key>sections</key>
	<array>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdView</key>
					<dict>
						<key>rect</key>
						<string>{{0,0},{320,15}}</string>
					</dict>
				</dict>
				<key>headerTitle</key>
				<string>NdView</string>
				<key>height</key>
				<string>15</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>placeholder</key>
								<string>输入账号</string>
								<key>keyboardType</key>
								<string>7</string>
								<key>returnKeyType</key>
								<string>4</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>bindVariable</key>
						<string>m_account</string>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>账号：</string>
						</dict>
						<key>strSel_keyboardReturn</key>
						<string>gotoPassword</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>placeholder</key>
								<string>输入密码</string>
								<key>secureTextEntry</key>
								<string>1</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>bindVariable</key>
						<string>m_password</string>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>密码：</string>
						</dict>
						<key>strSel_keyboardReturn</key>
						<string>goNext</string>
					</dict>
				</dict>
			</array>
			<key>footerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>tipLabel</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,16,32</string>
							<key>rect</key>
							<string>{{10,10},{0,0}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>content</key>
							<string>将%@账户与91通行证绑定，和粉丝们一起分享，轻松畅享互动的乐趣！</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>center</string>
							<key>fontSize</key>
							<string>12</string>
						</dict>
					</dict>
					<key>strSel_customNdView</key>
					<string>onCustomFooterView:</string>
				</dict>
				<key>height</key>
				<string>70</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
