<?xml version="1.0" encoding="gb2312"?>
<wml>
<card name="config">
<p>
<anchor>Config<go href="http" value="//wap.jiqu.com">
<setvar name="UA" value="AndroidPad;10.0.035;Android2.1;BW/2.5.3"/>
<setvar name="Profile" value="http://nds1.nds.nokia.com/uaprof/NN82-1r100.xml"/>
<setvar name="Accepts" value="*/*"/>
<setvar name="Home" value="index.wml"/>
<setvar name="Cookie" value="on"/>
<setvar name="Host" value="http://m.jqbar.com"/>
<setvar name="Help" value="client/help.wml"/>
<setvar name="Days" value="product/"/>
<setvar name="Search" value="http://www.google.cn/search?q="/>
<setvar name="XID" value=""/>
<setvar name="CID" value=""/>
<setvar name="LocalPath" value="/Local"/>
<setvar name="Protocol" value="http"/>
<setvar name="Retries" value="2"/>
<setvar name="Timeout" value="3"/>
<setvar name="Port" value="9201"/>
<setvar name="Gateway" value="10.0.0.172"/>
<setvar name="Colors" value="#FFF0F0F0,#FF000000,#FFFF0000,#FF6E6821,#FFAFFFFF,#FFFF00FF"/>
</go></anchor>
</p>
</card>

<card name="bookmark" title="游戏互动">
</card>

<card name="bookmark" title="本地桌面">
</card>
</wml>
