<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaiWan_iPad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BaiWan_iPad_addMingJiang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>BaiWan_iPad_dm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BaiWan_iPad_lm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BaiWan_iPad_mobisage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>BaiWan_iPad_offerWall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>BaiWan_iPad_pp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BaiWan_iPad_wx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BaiWan_iPad_youMi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E3C3363171B98A3007A9DBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>390B90D318AE017900C50500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39185DE818273EFA008D028F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>393292C61888C650002F0067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3936C3F318B5EE2800971588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>393F500A18B5D8AA00C9773C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39F9A059186AC9EC0007DA7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39FFEE77188CFDF700D0A64D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1874303192B4FC300F5671B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
